.dark-high-contrast {
  --md-sys-color-primary: rgb(255 238 210);
  --md-sys-color-surface-tint: rgb(249 189 34);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(251 191 36);
  --md-sys-color-on-primary-container: rgb(28 18 0);
  --md-sys-color-secondary: rgb(255 238 210);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(223 191 125);
  --md-sys-color-on-secondary-container: rgb(17 10 0);
  --md-sys-color-tertiary: rgb(225 252 114);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(186 212 79);
  --md-sys-color-on-tertiary-container: rgb(17 22 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(23 19 10);
  --md-sys-color-on-background: rgb(236 225 209);
  --md-sys-color-surface: rgb(23 19 10);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 70 51);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(254 238 212);
  --md-sys-color-outline-variant: rgb(207 193 169);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 209);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(93 68 0);
  --md-sys-color-primary-fixed: rgb(255 223 159);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(249 189 34);
  --md-sys-color-on-primary-fixed-variant: rgb(25 16 0);
  --md-sys-color-secondary-fixed: rgb(255 223 159);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(227 194 129);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 16 0);
  --md-sys-color-tertiary-fixed: rgb(211 238 102);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(184 210 77);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 19 0);
  --md-sys-color-surface-dim: rgb(23 19 10);
  --md-sys-color-surface-bright: rgb(86 79 67);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(36 31 21);
  --md-sys-color-surface-container: rgb(54 48 37);
  --md-sys-color-surface-container-high: rgb(65 59 48);
  --md-sys-color-surface-container-highest: rgb(77 70 58);
}
