.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 225 167);
  --md-sys-color-surface-tint: rgb(249 189 34);
  --md-sys-color-on-primary: rgb(57 41 0);
  --md-sys-color-primary-container: rgb(251 191 36);
  --md-sys-color-on-primary-container: rgb(72 52 0);
  --md-sys-color-secondary: rgb(250 216 148);
  --md-sys-color-on-secondary: rgb(50 35 0);
  --md-sys-color-secondary-container: rgb(170 141 80);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(214 241 104);
  --md-sys-color-on-tertiary: rgb(38 47 0);
  --md-sys-color-tertiary-container: rgb(186 212 79);
  --md-sys-color-on-tertiary-container: rgb(49 60 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(23 19 10);
  --md-sys-color-on-background: rgb(236 225 209);
  --md-sys-color-surface: rgb(23 19 10);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 70 51);
  --md-sys-color-on-surface-variant: rgb(234 218 193);
  --md-sys-color-outline: rgb(190 176 153);
  --md-sys-color-outline-variant: rgb(156 143 121);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(236 225 209);
  --md-sys-color-inverse-on-surface: rgb(47 41 31);
  --md-sys-color-inverse-primary: rgb(93 68 0);
  --md-sys-color-primary-fixed: rgb(255 223 159);
  --md-sys-color-on-primary-fixed: rgb(25 16 0);
  --md-sys-color-primary-fixed-dim: rgb(249 189 34);
  --md-sys-color-on-primary-fixed-variant: rgb(71 51 0);
  --md-sys-color-secondary-fixed: rgb(255 223 159);
  --md-sys-color-on-secondary-fixed: rgb(25 16 0);
  --md-sys-color-secondary-fixed-dim: rgb(227 194 129);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 51 0);
  --md-sys-color-tertiary-fixed: rgb(211 238 102);
  --md-sys-color-on-tertiary-fixed: rgb(14 19 0);
  --md-sys-color-tertiary-fixed-dim: rgb(184 210 77);
  --md-sys-color-on-tertiary-fixed-variant: rgb(48 58 0);
  --md-sys-color-surface-dim: rgb(23 19 10);
  --md-sys-color-surface-bright: rgb(74 68 56);
  --md-sys-color-surface-container-lowest: rgb(11 7 2);
  --md-sys-color-surface-container-low: rgb(34 29 19);
  --md-sys-color-surface-container: rgb(45 39 29);
  --md-sys-color-surface-container-high: rgb(56 50 39);
  --md-sys-color-surface-container-highest: rgb(67 61 50);
}
